@import 'src/assets/styles/personal-info.module';

.accountContainer {
  max-width: 900px;
  margin: 0 auto;
}

.personal {
  display: flex;
  align-items: flex-start;
}

.personalAside {
  width: 200px;
  margin: 0 3rem 0 0;
  text-align: center;
}

.personalHeading {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
}

.personalContent {
  flex: 1;
}

.userName {
  display: block;
  margin: 0 0.5rem 0 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.userRole {
  display: block;
  color: #777;
}
