.card {
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 4px;

  &.disable {
    opacity: 0.4;
    pointer-events: none;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid var(--gray);
}

.cardInfoList {
  word-wrap: break-word;

  :global {
    .MuiListItem-root {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .MuiListItemIcon-root {
      min-width: 2.125rem;
      color: #323232;
    }

    .MuiListItemText-root {
      margin: 0;
    }

    .MuiTypography-root {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}
