.card {
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid var(--gray);
}
