div.searchField {
  margin: auto 0 auto auto;
  border-radius: 4px;
  background: rgb(0 0 0 / 3%);
  box-shadow: none;

  &:hover {
    background: rgb(0 0 0 / 5%);
  }

  &:has(:focus) {
    background: rgb(0 0 0 / 8%);
  }

  :global {
    .MuiInputBase-root {
      &::after,
      &::before {
        display: none;
      }
    }

    .MuiInput-input {
      height: 24px;
      padding: 5px 8px;
      border: 0;

      &:-webkit-autofill {
        transition-property: background-color, color;
        transition-delay: 9999s;
        box-shadow: none !important;
      }
    }
  }
}
