.thresholdContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 3.5rem;
}

.thresholdItem {
  padding: 1rem 1rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%), 0 1px 3px rgb(0 0 0 / 12%);
}

.thresholdHeader {
  display: flex;
  align-items: center;

  // margin: 0 0 1rem;
}

.thresholdIcon {
  width: 40px;
  aspect-ratio: 1 / 1;
  margin: 0 1rem 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.thresholdText {
  flex: 1;

  :global {
    .MuiTypography-body1 {
      opacity: 0.87;
    }

    .MuiTypography-body2 {
      opacity: 0.6;
    }
  }
}

.thresholdInfo {
  display: flex;
  align-items: flex-end;
  margin: 1.5rem 0 0;
  padding: 0;
  list-style: none;

  li {
    min-width: 60px;
    padding: 0 0 0 0.5rem;
  }

  .thresholdInfoMeasure {
    margin-left: auto;
    text-align: right;
  }
}

.thresholdInfoLabel {
  display: block;
  margin: 0 0 0.5rem;
  opacity: 0.6;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.thresholdInfoValue {
  font-size: 1.5rem;
}

.thresholdItemBlood {
  display: flex;
  grid-row: span 2;
  flex-direction: column;
}

.thresholdInfoGroup {
  margin: auto 0;
}
