.userAvatarHolder {
  position: relative;

  .userAvatarEditButton {
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background: rgb(0 0 0 / 50%);
    color: #fff;
    font-size: 2rem;
    inset: 0;
  }

  &:hover {
    .userAvatarEditButton {
      visibility: visible;
      opacity: 1;
      background: rgb(0 0 0 / 50%);
    }
  }
}

.userAvatar {
  &:global(.MuiButton-root) {
    &:hover {
      opacity: 0.7;
      background: #bbb;
    }
  }

  img {
    background: #fff;
  }
}

div.userAvatarEdit {
  width: 100%;
  font-size: 5em;
}
