.personalInfoList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem -0.75rem 0;
  padding: 0;
  list-style: none;

  li {
    width: 50%;
    margin: 0 0 0.75rem;
    padding: 0 0.75rem 0 0;
  }

  &.fullWidth {
    li {
      width: 100%;
    }
  }
}

.infoListLabel {
  display: block;
  margin: 0 0 0.25rem;
  color: #777;
  font-size: 0.875rem;
}

.infoListText {
  display: flex;
  align-items: center;
}

button.infoListButton {
  margin: 0 0 0 0.25rem;
  transition: opacity 0.3s ease;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    background: none;
  }
}
