.personalInfoList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem -0.75rem 0;
  padding: 0;
  list-style: none;

  li {
    width: 50%;
    margin: 0 0 0.75rem;
    padding: 0 0.75rem 0 0;
  }

  &.fullWidth {
    li {
      width: 100%;
    }
  }
}

.infoListLabel {
  display: block;
  margin: 0 0 0.25rem;
  color: #777;
  font-size: 0.875rem;
}

.infoListText {
  display: flex;
  align-items: center;
}

button.infoListButton {
  margin: 0 0 0 0.25rem;
  transition: opacity 0.3s ease;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    background: none;
  }
}

.contactList {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0 0.75rem;

    &:last-child {
      margin: 0;
    }
  }
}

.contactListLink {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  color: #323232;
  text-decoration: none;

  span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    text-decoration: underline;
  }

  :global {
    .MuiSvgIcon-root {
      margin-right: 1rem;
    }
  }
}

.patientInfoList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;

  li {
    display: flex;
    align-items: center;
  }

  img {
    width: 26px;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 0 0.625rem 0 0;
  }
}
