@import 'variables';

body {
  margin: 0;
  background: #f0f2f5;
  color: #333;
  font: 1rem/1.3 Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.form-alert {
  margin: 0 0 2rem;

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}

.MuiInputBase-input:-webkit-autofill {
  box-shadow: 0 0 0 30px #fff inset;
}

form {
  .MuiFormControl-root {
    margin-bottom: 1.5rem;
  }
}

.MuiDialog-paperScrollBody {
  .MuiDialogContent-root,
  &.MuiDialog-paper {
    overflow-y: visible;
  }
}

.MuiListItem-root {
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.calendar-field {
  .MuiButtonBase-root {
    margin-right: 0;
  }
}

.auth-layout {
  background: #e5e5e5;
}

.MuiAlert-message {
  a {
    color: inherit;
  }
}

.tabs {
  margin: 0 0 2rem;
  border-bottom: 1px solid #ddd;
}

.white-box {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
