@import 'src/assets/styles/personal-info.module';

.patientContainer {
  display: flex;

  // align-items: flex-start;
}

.patientAside {
  width: 320px;
  margin: 0 2rem 0 0;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 22%);
  border-radius: 0.25rem;
}

.patientAsideHeading {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem;

  .patientAsideIcon {
    width: 28px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 0 0.5rem 0 0;
    font-size: 1.75rem;
  }
}

.patientAsideTitle {
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 1.25rem;

  &:not(:last-child) {
    padding-right: 0.5rem;
  }
}

.patientAsideTreatmentHolder {
  margin: 0 -0.5rem -0.75rem 0;
  padding-top: 0.5rem;

  :global(.MuiChip-root) {
    margin: 0 0.5rem 0.75rem 0;
  }
}

.patientContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;

  :global {
    .tab-panel {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}
